# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packages
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script when a desktop
#  application is packaged. A installer timeout is a common example.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-check.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
nohup.out

# pyenv
#   Selects a specific python version for the local directory.
#   Only add this if your project uses pyenv and you want to lock it down.
# .python-version

# pipenv
#   According to pypa/pipenv#1191, it is recommended to commit Pipfile.lock.
#   However, if you're writing a library you may want to ignore it.
# Pipfile.lock

# poetry
#   Similar to Piplock, you may want to ignore poetry.lock if writing a library.
# poetry.lock

# pdm
#   Similar to Piplock, you may want to ignore pdm.lock if writing a library.
# pdm.lock

# PEP 582; used by e.g. pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath vars
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre check
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# OS X
.DS_Store

# ADK
.adk/
session.db
*.db
